// Styling for the features section
section#features {
  background: white;
  background-size: 40%;
  background-image: url('../img/p4p-bg.png');
  background-repeat: no-repeat;
  background-position: right;

}
