// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background: url('../img/photography-service.jpg') top center no-repeat;
  @include background-cover;
  .container{
    background: $video-overlay;
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}

@media(min-width:768px) {
  header.masthead {
    background: $video-overlay;
    .container{
      background: none;
    }
    @include background-cover;
    .intro-text {
      padding-top: 200px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
  // VIDEO BG
  .video-wrapper {
    position: relative;
    overflow: hidden;
    video{
      opacity: 0.98;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background: url('../img/video_bg.jpg') no-repeat;
      background-size: 100%;
      transition: 1s opacity;
      display: block;
      &::-webkit-media-controls {
          display:none !important;
      }
    }
  }
}
