// Styling for the services section
.service-heading {
  margin: 4rem 0 1rem 0!important;
}

.service-thumbnail {
  position: relative;
  display: inline-block;
}
@media(min-width:992px) {
  .service-heading {
    margin: 4.2rem 0 1rem 0!important;
  }

  .vert-container{
    position: relative
  }
  .vert-content{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
  }
  .vert-cent{
    display: table-cell;
      vertical-align: middle
  }
}
